on:
  push:
    branches:
      - master
  pull_request:
name: ci
jobs:
  bom-upper-bounds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - run: java -version
      - run: .kokoro/bom-upper-bounds-check.sh
        env:
          JOB_TYPE: test
