on:
  push:
    branches:
    - main
  pull_request:
name: ci
jobs:
  full-dependencies-convergence:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'googleapis' && github.head_ref == 'release-please--branches--main'
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v3
      with:
        java-version: 8
    - run: java -version
    - name: Install Google Cloud BOM
      run: |
        mvn -B -V -ntp install
    - name: Validate dependency convergence of library dependencies in the Google Cloud BOM
      run: |
        mvn -B -V -ntp validate
      working-directory: dependency-convergence
